<a href="https://colab.research.google.com/github/sanskarram981/python-script-for-running-sql-queries/blob/Dev/mysql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.31-cp37-cp37m-manylinux1_x86_64.whl (23.5 MB)
     |████████████████████████████████| 23.5 MB 1.2 MB/s
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf<=3.20.1,>=3.11.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.31

In [ ]:
import mysql.connector
from mysql.connector import Error

In [ ]:
"""How to connect to mysql database code"""


# try:
#     connection = mysql.connector.connect(host='209.209.40.92',
#                                         database='test',
#                                         user='admin',
#                                         password='UdcYoI5I',
#                                         port='10046',
#                                         autocommit=True
#                                         )
#     if connection.is_connected():
#         db_Info = connection.get_server_info()
#         print("Connected to MySQL Server version ", db_Info)
#         cursor = connection.cursor()
#         cursor.execute("select database();")
#         record = cursor.fetchone() # fetchall(),fetchmany()
#         print("You're connected to database: ", record)

# except Error as e:
#     print("Error while connecting to MySQL", e)
# finally:
#     if connection.is_connected():
#         cursor.close()
#         print("MySQL cursor is closed")
#         connection.close()
#         print("MySQL connection is closed")

In [ ]:
"""How to execute a mysql script with python"""

# import mysql.connector

# try:
#     connection = mysql.connector.connect(host='localhost',
#                                          database='Electronics',
#                                          user='pynative',
#                                          password='pynative@#29')

#     mySql_Create_Table_Query = """CREATE TABLE Laptop ( 
#                              Id int(11) NOT NULL,
#                              Name varchar(250) NOT NULL,
#                              Price float NOT NULL,
#                              Purchase_date Date NOT NULL,
#                              PRIMARY KEY (Id)) """

#     cursor = connection.cursor()
#     result = cursor.execute(mySql_Create_Table_Query)
#     print("Laptop Table created successfully ")

# except mysql.connector.Error as error:
#     print("Failed to create table in MySQL: {}".format(error))
# finally:
#     if connection.is_connected():
#         cursor.close()
#         connection.close()
#         print("MySQL connection is closed")

In [ ]:
"""Saving mysql connection parameter in the form of dictionary"""

# import mysql.connector
# from mysql.connector import Error

# try:
#     connection_config_dict = {
#         'user': 'pynative',
#         'password': 'pynative@123',
#         'host': '127.0.0.1',
#         'database': 'Electronics',
#         'raise_on_warnings': True,
#         'use_pure': False,
#         'autocommit': True,
#         'pool_size': 5
#     }
#     connection = mysql.connector.connect(**connection_config_dict)

#     if connection.is_connected():
#         db_Info = connection.get_server_info()
#         print("Connected to MySQL Server version ", db_Info)
#         cursor = connection.cursor()
#         cursor.execute("select database();")
#         record = cursor.fetchone()
#         print("Your connected to database: ", record)

# except Error as e:
#     print("Error while connecting to MySQL", e)
# finally:
#     if connection.is_connected():
#         cursor.close()
#         connection.close()
#         print("MySQL connection is closed")

In [ ]:
"""Changing connection timeout incase timeout happens while interacting with the database"""


# import mysql.connector
# from mysql.connector import Error

# try:
#     connection = mysql.connector.connect(host='localhost',
#                                          database='Electronics',
#                                          user='pynative',
#                                          password='pynative@#29', connection_timeout=180)

#     if connection.is_connected():
#         db_Info = connection.get_server_info()
#         print("Connected to MySQL database... MySQL Server version on ", db_Info)

#         cursor = connection.cursor()
#         # global connection timeout arguments
#         global_connect_timeout = 'SET GLOBAL connect_timeout=180'
#         global_wait_timeout = 'SET GLOBAL connect_timeout=180'
#         global_interactive_timeout = 'SET GLOBAL connect_timeout=180'

#         cursor.execute(global_connect_timeout)
#         cursor.execute(global_wait_timeout)
#         cursor.execute(global_interactive_timeout)

#         connection.commit()

# except Error as e:
#     print("Error while connecting to MySQL", e)
# finally:
#     # closing database connection.
#     if connection.is_connected():
#         cursor.close()
#         connection.close()
#         print("MySQL connection is closed")

In [ ]:
def query_execution(querry):
  record = None
  try:
    connection = mysql.connector.connect(host='209.209.40.92',
                                        database='test',
                                        user='admin',
                                        password='UdcYoI5I',
                                        port='10046',
                                        autocommit=True
                                        )
    if connection.is_connected():
        cursor = connection.cursor()
        cursor.execute(querry)
        record = cursor.fetchall()
  except Error as e:
    print("Error while connecting to MySQL", e)
  finally:
    if connection.is_connected():
        cursor.close()
        print("MySQL cursor is closed")
        connection.close()
        print("MySQL connection is closed")
        return record

In [ ]:
#creating table in the database

query = "CREATE TABLE student (id int,fname varchar(10),lname varchar(10),city varchar(10),PRIMARY KEY (id));"
output = query_execution(query)

MySQL cursor is closed
MySQL connection is closed

In [ ]:
#inserting data in the student table

data = [(1,"shivam","sahu","ranchi"),
        (2,"shivam","sunderam","ranchi"),
        (3,"sourav","raj","hazaribagh"),
        (4,"madhav","kumar","deoghar"),
        (5,"ravi","kumar","jamtara"),
        (6,"sarfaraz","alam","dhanbad")
        ]
record = None
try:
  connection = mysql.connector.connect(host='209.209.40.92',
                                      database='test',
                                      user='admin',
                                      password='UdcYoI5I',
                                      port='10046',
                                      autocommit=True
                                      )
  if connection.is_connected():
      cursor = connection.cursor()
      for dt in data:
        cursor.execute("INSERT INTO student VALUES (%s,%s,%s,%s)",dt)
        record = cursor.fetchall()
except Error as e:
  print("Error while connecting to MySQL", e)
finally:
  if connection.is_connected():
      cursor.close()
      print("MySQL cursor is closed")
      connection.close()
      print("MySQL connection is closed")

MySQL cursor is closed
MySQL connection is closed

In [ ]:
#retrieving data from the table

try:
  connection = mysql.connector.connect(host='209.209.40.92',
                                      database='test',
                                      user='admin',
                                      password='UdcYoI5I',
                                      port='10046',
                                      autocommit=True
                                      )
  if connection.is_connected():
      cursor = connection.cursor()
      cursor.execute("SELECT * FROM student;")
      record = cursor.fetchall()
except Error as e:
  print("Error while connecting to MySQL", e)
finally:
  if connection.is_connected():
      cursor.close()
      print("MySQL cursor is closed")
      connection.close()
      print("MySQL connection is closed")
record

MySQL cursor is closed
MySQL connection is closed

[(1, 'shivam', 'sahu', 'ranchi'),
 (2, 'shivam', 'sunderam', 'ranchi'),
 (3, 'sourav', 'raj', 'hazaribagh'),
 (4, 'madhav', 'kumar', 'deoghar'),
 (5, 'ravi', 'kumar', 'jamtara'),
 (6, 'sarfaraz', 'alam', 'dhanbad')]

In [ ]:
for dt in record:
  print(dt)

(1, 'shivam', 'sahu', 'ranchi')
(2, 'shivam', 'sunderam', 'ranchi')
(3, 'sourav', 'raj', 'hazaribagh')
(4, 'madhav', 'kumar', 'deoghar')
(5, 'ravi', 'kumar', 'jamtara')
(6, 'sarfaraz', 'alam', 'dhanbad')

In [ ]:
#creating table in the database

query = "CREATE TABLE subject (id int,course varchar(10));"
output = query_execution(query)

MySQL cursor is closed
MySQL connection is closed

In [ ]:
#inserting data in the student table

data = [(1,"maths"),
        (1,"chemistry"),
        (2,"biology"),
        (3,"physics"),
        (4,"english"),
        (4,"hindi"),
        (4,"chemistry")
        ]
record = None
try:
  connection = mysql.connector.connect(host='209.209.40.92',
                                      database='test',
                                      user='admin',
                                      password='UdcYoI5I',
                                      port='10046',
                                      autocommit=True
                                      )
  if connection.is_connected():
      cursor = connection.cursor()
      for dt in data:
        cursor.execute("INSERT INTO subject VALUES (%s,%s)",dt)
        record = cursor.fetchall()
except Error as e:
  print("Error while connecting to MySQL", e)
finally:
  if connection.is_connected():
      cursor.close()
      print("MySQL cursor is closed")
      connection.close()
      print("MySQL connection is closed")

MySQL cursor is closed
MySQL connection is closed

In [ ]:
#retrieving data from the table

try:
  connection = mysql.connector.connect(host='209.209.40.92',
                                      database='test',
                                      user='admin',
                                      password='UdcYoI5I',
                                      port='10046',
                                      autocommit=True
                                      )
  if connection.is_connected():
      cursor = connection.cursor()
      cursor.execute("SELECT * FROM subject;")
      record = cursor.fetchall()
except Error as e:
  print("Error while connecting to MySQL", e)
finally:
  if connection.is_connected():
      cursor.close()
      print("MySQL cursor is closed")
      connection.close()
      print("MySQL connection is closed")
record

MySQL cursor is closed
MySQL connection is closed

[(1, 'maths'),
 (1, 'chemistry'),
 (2, 'biology'),
 (3, 'physics'),
 (4, 'english'),
 (4, 'hindi'),
 (4, 'chemistry')]

In [ ]:
#performing inner join operation on the student and subject table

#retrieving data from the table

try:
  connection = mysql.connector.connect(host='209.209.40.92',
                                      database='test',
                                      user='admin',
                                      password='UdcYoI5I',
                                      port='10046',
                                      autocommit=True
                                      )
  if connection.is_connected():
      cursor = connection.cursor()
      cursor.execute("SELECT * FROM student INNER JOIN subject ON student.id = subject.id;")
      record = cursor.fetchall()
except Error as e:
  print("Error while connecting to MySQL", e)
finally:
  if connection.is_connected():
      cursor.close()
      print("MySQL cursor is closed")
      connection.close()
      print("MySQL connection is closed")
record

MySQL cursor is closed
MySQL connection is closed

[(1, 'shivam', 'sahu', 'ranchi', 1, 'maths'),
 (1, 'shivam', 'sahu', 'ranchi', 1, 'chemistry'),
 (2, 'shivam', 'sunderam', 'ranchi', 2, 'biology'),
 (3, 'sourav', 'raj', 'hazaribagh', 3, 'physics'),
 (4, 'madhav', 'kumar', 'deoghar', 4, 'english'),
 (4, 'madhav', 'kumar', 'deoghar', 4, 'hindi'),
 (4, 'madhav', 'kumar', 'deoghar', 4, 'chemistry')]

In [ ]:
#performing left join operation on the student and subject table

#retrieving data from the table

try:
  connection = mysql.connector.connect(host='209.209.40.92',
                                      database='test',
                                      user='admin',
                                      password='UdcYoI5I',
                                      port='10046',
                                      autocommit=True
                                      )
  if connection.is_connected():
      cursor = connection.cursor()
      cursor.execute("SELECT * FROM student LEFT JOIN subject ON student.id = subject.id;")
      record = cursor.fetchall()
except Error as e:
  print("Error while connecting to MySQL", e)
finally:
  if connection.is_connected():
      cursor.close()
      print("MySQL cursor is closed")
      connection.close()
      print("MySQL connection is closed")
record

MySQL cursor is closed
MySQL connection is closed

[(1, 'shivam', 'sahu', 'ranchi', 1, 'chemistry'),
 (1, 'shivam', 'sahu', 'ranchi', 1, 'maths'),
 (2, 'shivam', 'sunderam', 'ranchi', 2, 'biology'),
 (3, 'sourav', 'raj', 'hazaribagh', 3, 'physics'),
 (4, 'madhav', 'kumar', 'deoghar', 4, 'chemistry'),
 (4, 'madhav', 'kumar', 'deoghar', 4, 'hindi'),
 (4, 'madhav', 'kumar', 'deoghar', 4, 'english'),
 (5, 'ravi', 'kumar', 'jamtara', None, None),
 (6, 'sarfaraz', 'alam', 'dhanbad', None, None)]

In [ ]:
#performing right join operation on the student and subject table

#retrieving data from the table

try:
  connection = mysql.connector.connect(host='209.209.40.92',
                                      database='test',
                                      user='admin',
                                      password='UdcYoI5I',
                                      port='10046',
                                      autocommit=True
                                      )
  if connection.is_connected():
      cursor = connection.cursor()
      cursor.execute("SELECT * FROM student RIGHT JOIN subject ON student.id = subject.id;")
      record = cursor.fetchall()
except Error as e:
  print("Error while connecting to MySQL", e)
finally:
  if connection.is_connected():
      cursor.close()
      print("MySQL cursor is closed")
      connection.close()
      print("MySQL connection is closed")
record

MySQL cursor is closed
MySQL connection is closed

[(1, 'shivam', 'sahu', 'ranchi', 1, 'maths'),
 (1, 'shivam', 'sahu', 'ranchi', 1, 'chemistry'),
 (2, 'shivam', 'sunderam', 'ranchi', 2, 'biology'),
 (3, 'sourav', 'raj', 'hazaribagh', 3, 'physics'),
 (4, 'madhav', 'kumar', 'deoghar', 4, 'english'),
 (4, 'madhav', 'kumar', 'deoghar', 4, 'hindi'),
 (4, 'madhav', 'kumar', 'deoghar', 4, 'chemistry')]

In [ ]:
#performing outer join operation on the student and subject table

#retrieving data from the table

try:
  connection = mysql.connector.connect(host='209.209.40.92',
                                      database='test',
                                      user='admin',
                                      password='UdcYoI5I',
                                      port='10046',
                                      autocommit=True
                                      )
  if connection.is_connected():
      cursor = connection.cursor()
      cursor.execute("SELECT * FROM student RIGHT OUTER JOIN subject ON student.id = subject.id;")
      record = cursor.fetchall()
except Error as e:
  print("Error while connecting to MySQL", e)
finally:
  if connection.is_connected():
      cursor.close()
      print("MySQL cursor is closed")
      connection.close()
      print("MySQL connection is closed")
record

MySQL cursor is closed
MySQL connection is closed

[(1, 'shivam', 'sahu', 'ranchi', 1, 'maths'),
 (1, 'shivam', 'sahu', 'ranchi', 1, 'chemistry'),
 (2, 'shivam', 'sunderam', 'ranchi', 2, 'biology'),
 (3, 'sourav', 'raj', 'hazaribagh', 3, 'physics'),
 (4, 'madhav', 'kumar', 'deoghar', 4, 'english'),
 (4, 'madhav', 'kumar', 'deoghar', 4, 'hindi'),
 (4, 'madhav', 'kumar', 'deoghar', 4, 'chemistry')]